/* Start Variables */
:root {
    --main-color : #19c8fa;
    --transparent-color : rgb(15 116 143 / 70%);
}
/* End Variables */
/* Start Global Rules  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    
}
ul {
    list-style: none;
}
.container {
    padding:  0 15px;
    margin: 0 auto;
}

/* Small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules  */
/* Start Components  */
.special-heading {  
    text-align: center; 
    margin-top: 100px;   
}
.special-heading h2 {
    font-weight: normal;

    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.special-heading h2::before {
    content: '';
    position: absolute;
    width: 120px;
    border-bottom: 2px solid black;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

}
.special-heading h2::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid black;
    border-radius: 50%;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;

}
.special-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* End Components  */
/* Start Header  */
header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

}
header .container::after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    bottom: -1px;
    left: 15px;

}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav i {
    color: white;
    font-size: 20px;
    
}
@media (min-width: 768px) {
    header nav  .toggle-menu {
        display: none ;
    }

}
header nav ul {
    display: flex;
    
}
header nav ul li a {
    display: block;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    transform: 0.3;
    
}
@media (max-width: 768px) {
    header nav ul  {
        display: none;
    }
    
    header nav i:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav i + ul li a {
        padding: 15px;
    }
}
header nav ul li a.active, 
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    /* trasnform Prefix  */
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    transform: translate(0,-50%);
    right: 0;
    
}
/* End Header  */
/* Start Landing */
.landing {
    
    min-height: 100vh;
    background-image: url(../imges/landing.jpg);
    background-color: #1f2021;
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0 0 0 / 60%);
    
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}
.landing .content {
    max-width: 500px;
}
.landing .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .content p {
    font-size: 14px;
    line-height: 2;
}
@media (max-width : 767px) {
    .landing .text {
        width: 100%;
        justify-content: center;
    }
    .landing .content {
        max-width: 100%;
    }
    .landing .change-background {
        display: none;
    }
}
.landing .change-background {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    margin:  0 30px;
    font-size: 25px;
    font-weight: bold;
}
.landing .right {

    right: 0;
}
.landing .bullets {
    width: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    
}
.landing .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing */
/* Start services */
.services {
    width: 100%;
    /* height: 100vh; */
    
}
.services .container {
    display: flex;
    justify-content: space-between;
}
.services .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.services .content .card {
    width: calc(((100%/2) - 10px));
    display: flex;
    margin-left: 10px;

    


}
.services .content .card i {
    margin-right: 40px;
    justify-content: center;
    font-weight: 900;

}
.services .content .card .text h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .content .card .text p {
    margin-bottom: 20px;
    color: #777;
    line-height: 2;
}

@media (max-width : 991px ) {
    .services .content {
        flex-direction: column;
    }
    .services .content .card {
        width: 100%;
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .services .content .card .text {
        text-align: center;
    
    }
    .services .content .card i {
        margin: 0 0 30px;
    }
}
/* End services */
/* Start Design */
.desing {
    width: 100%;
    height: 600px;
    background-image: url(../imges/design-features.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
}
.desing .layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.desing .imge {
    text-align: center;
    flex-grow: 1;
    position: relative;
    bottom: -150px;
    z-index: 2;

}
@media (max-width: 767px) {
    .desing .imge {
        display: none;
    }
}
.desing .text {
    
    flex-grow: 1;
    color: white;
    
    background-color: var(--transparent-color);
    height: 60%;
    z-index: 2;
    padding: 40px 50px ;
}
.text h2 {
    font-weight: normal;
    text-transform: uppercase;
}
.text ul {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 60%;
}
.text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: '\f390';
    font-weight: 900;
    margin-right: 10px;
    position: relative;
    top: 1px;

}
/* End Design */
/* Start Portfolio */
.portfolio 
.portfolio .heading {
    width: 100%;
    
}
.portfolio .heading ul {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.portfolio .heading ul li {
    padding: 10px;
}
.portfolio .heading ul .active {
    background-color: var(--main-color);

    color: white;
}
.portfolio .imges {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imges .box {
    position: relative;
    overflow: hidden;
}
.portfolio .imges .box:hover .caption {
    bottom: 0;
}
.portfolio .imges .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width : 768px) {
    .portfolio .imges .box {
        flex-basis: 50%;
    }
}
@media (min-width : 1199px) {
    .portfolio .imges .box {
        flex-basis: 25%;
    }
}
.portfolio .imges .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imges .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.5s;
    bottom: -100%;
}
.portfolio .imges .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imges .box .caption p {
    color: var(--main-color);
}
.portfolio .link {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 36px;
}
.portfolio .link a {
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: var(--main-color);
    text-decoration: none;
    color: white;
}
/* End Portfolio */
/* Start Video */
.video {
    width: 100%;
    
    position: relative;
}

.video .layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.video video {
    width: 100%;
    
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: var(--transparent-color);
    padding: 50px;
    
}
.video .text h2 {
    font-weight: normal;
    font-size: 30px;
    color: white;
    margin-bottom: 30px;

}
.video .text p {
    color: white;;
}
.video .text .button {
    margin-top: 40px;
    text-transform: uppercase;
}
.video .text a {

    text-decoration: none;
    color: white;
    
    padding: 10px 15px;
    background-color: black;

}
/* End Video */
/* Start About */
.about {
    position: relative;
    overflow: hidden;
    height: 600px;
    
    
}
.about .container {
    display: block;
    text-align: center;
    max-width: 100%;
    position: absolute;
    bottom: -120px;
    margin-top: -120px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.about img {
    max-width: 100%;
}
@media (max-width: 767px) {
    .about .container {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* End About */
/* Start Stats */
.stats {
    padding: 100px 0;
    text-align: center;
    background-image: url(../imges/stats.png);
    background-size: cover;
    position: relative;
}
.stats::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 70%);
}
.stats .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}
.stats .container .box {
    background-color: var(--transparent-color);
    padding: 50px;
    
}

@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
        padding: 40px;
        
    }
}
.stats .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    margin: 0 auto 30px;
    justify-content: center;
    align-items: center;
}
.stats .box div {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.stats .box p {
    font-size: 14px;
}
/* End Stats */
/* Start Skills */
.our-skills .special-heading h2::before,
.our-skills .special-heading h2::after {
    content: none;

}
.our-skills .special-heading h2 {
    font-size: 20px;
    margin-bottom: 40px; 
}
.our-skills .special-heading p {
    margin-bottom: 55px;
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-skills .container > div {
    width: 100%;
}
.our-skills .container .skill {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
    

}

.our-skills .container .skills-section {
    width: 100%;
}
@media (min-width : 1222px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
@media (max-width : 767px) {
    .our-skills .container .skill {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .our-skills .container .skill .imges img
    {   
        margin: 0 auto 30px !important;
        
    }
    .our-skills .container .skill .text {

        text-align: center;
    }
    .our-skills .container .skill .text p {
        margin-bottom: 30px;
    }
}
.our-skills .container .skill .imges img {
    width: 100px;
    margin-right: 50px;
    border-radius: 50%;

    
}
.our-skills .skill .text {
    position: relative;
    border-bottom: 1px solid #777;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
}
.our-skills .skill .text p {
    margin-top: -25px;
}
.our-skills .container .skill span {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #777;

}
.our-skills .container .bullets {
    width: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.our-skills .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid #777;
    border-radius: 50%;
    
}
.our-skills .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .a-skill {
    margin-bottom: 40px;
    
}
.our-skills .a-skill h4 {
    font-weight: normal;
    margin-bottom: 15px;
}
.our-skills .a-skill .prog {
    height: 30px;
    background-color: #dedadc; 
}
.our-skills .a-skill .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .a-skill .prog span::before {
    content: attr(data-progress);
    position: absolute;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    color: white;
    background-color: black;
    top: -40px;
    right: -20px;
    border-radius: 4px; 

}
.our-skills .a-skill .prog span::after {
    content: '';
    border: 8px solid;
    border-color: black transparent transparent transparent;
    position: absolute;  
    top: -15px;
    right: -8px;
}
/* End Skills */
/* Start Quote */
.quote {
    padding: 100px 0;
    background-image: url(../imges/quote.jpg);
    background-size: cover;
    position: relative;
    color: white;
}
.quote::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 75%);
}
.quote .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.quote .container q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding: 100px 0;
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: normal;
}
.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
    
}
.pricing .plans .plan .head span::before {
    content: '$';
    font-size: 20px;
    position: relative;
    top: -40px;
    margin-right: 15px;

}
.pricing .plans .plan .head span::after {
    content: '/Mo';
    font-size: 20px;
    position: relative;
    right: -15px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: '';
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plans .plan .foot a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    color: black;
}
.pricing .contact-text {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 20px;
}
.pricing .contact-link {
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
}
/* End   Pricing */
/* Start Subscribe  */
.subscribe {
    padding: 100px 0;
    background-image: url(../imges/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;

}
.subscribe::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    position: relative;
    display: flex;
    padding: 0px 15px;
    align-items: center;
    justify-content: center;

}
@media (max-width : 991px) {
    .subscribe .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}
.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    
}
.subscribe form input[type = "email"]{
    background: none;
    border: 1px solid white;
    border-right: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);

}
.subscribe form input[type = "email"]:focus,
.subscribe form input[type = "submit"]:focus
{
    outline: none;
}

.subscribe form input[type = "submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.subscribe form ::placeholder {
    color: white;
}
.subscribe  p {
    line-height: 2;
    margin-left: 50px;
}
@media (max-width : 991px) { 
    .subscribe .container p {
        margin: 30px 0px 0px;
    }

}
/* End Subscribe  */
/* Start Contact */
.contact {
    padding: 100px 0;

}
.contact .container .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width :767px) {
    .contact .container .content {
        flex-direction: column;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content form .main-input:focus {
    outline: none;
}
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form input[type = "submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width :767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}
.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
@media (max-width :767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }

}
.contact .content .info address {
    color: #777;
    line-height: 2;
}
@media (max-width :767px) {
    .contact .content .info address {
        margin-bottom: 30px;
    }
    
}
/* End Contact */
/* Start Footer */
.footer {
    padding: 50px 0 ;
    background-image: url(../imges/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}
.footer .container {
    position: relative;
    text-align: center;
    color: white;
}
.footer .container img {
    margin:  0 0 20px;
}
.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}
.footer .social-icons i {   
    padding: 10px 15px;
}
.footer .copyright {
    margin-top: 60px;
}
.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */